<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
</head>

<body ng-app="pokedex">
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Poke SIR</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
            </ul>
        </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
</nav><!-- /.navbar -->

<div class="container">

    <header class="page-header">
        <h1>Hello! <small>An easy way to find your favourite pokemons...</small></h1>
    </header>

    <section>
        <!-- Search -->
        <div ng-controller="listPokemon" class="row">
            <div class="panel panel-primary pokemonSearchBox">
                <div class="panel-heading">
                    <h3 class="panel-title">Barre de recherche</h3>
                </div>
                <div class="panel-body">
                    <form class="form-inline">
                        <div class="input-group col-lg-3">
                            <input type="text" id="filtreID" class="form-control" ng-model="filtreID" placeholder="Rechercher Id"/>
                        </div>
                        <div class="input-group col-lg-3">
                            <input type="text" id="filtreNom" class="form-control" ng-model="filtreNom" placeholder="Rechercher nom"/>
                        </div>
                        <div class="input-group col-lg-5">
                            <select class="form-control" ng-model="pokeSelected">
                                <option value={{poke}} ng-repeat="poke in filtered=(resultatResource | filter:filtreID | filter:filtreNom )">{{poke.pokemon_species.name}}</option>
                            </select>
                        </div>
                        <button type="button" ng-click="go()" class="btn btn-warning">Go !</button>
                    </form>
                </div>
            </div>
        </div><!-- /.row -->

        <!-- Pokémon information -->
        <div  ng-controller="pokeViewCrtl" class="row">
            <div class="panel panel-primary pokemonView">
                <div class="panel-heading">
                    <h3 class="panel-title">Details du pokémon sélectionné</h3>
                </div>
                <div class="panel-body">
                    <ul id="pokemonDetails" class="col-lg-3">
                        <li><span class="">Id:</span> {{poke.entry_number}} </li>
                        <li><span>Name:</span> {{poke.pokemon_species.name}} </li>
                    </ul>
                    <div class="col-lg-4">
                        <span>Moves:</span>
                        <ul class="list-inline">
                            <li ng-repeat="move in poke.moves">{{move.name}}</li>
                        </ul>
                    </div>
                   <!-- <div id="pokemonImg" class="col-lg-5">
                        <img ng-repeat="img in poke.sprites" class="img-responsive img-rounded" src="https://pokeapi.co{{img.resource_uri}}" alt="{{img.name}}" />
                    </div>-->
                </div>
            </div>
        </div><!-- /.row -->
    </section>

</div><!-- /.container -->

<!-- Dependencies -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/angular-resource.min.js"></script>

<!-- Pokedex app -->
<script src="js/pokedex.js"></script>

</body>
</html>